<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}Initiate</title>
    <link rel="stylesheet" href="/vendor/material.custom.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </head>
  <body>
    <div class="layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            {{> menu}}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Initiate</span>
        <nav class="mdl-navigation">
          {{> menu}}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <img class="logo" width="169px" height="37.5px" src="/img/logo.svg"/>
          {{{body}}}
        </div>
      </main>
    </div>
    <script src="/vendor/kbpgp-2.0.8-min.js"></script>
    <script src="/vendor/material.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
