<!doctype html>
<html lang="en" class="submit">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}Initiate</title>
    <link rel="stylesheet" href="/vendor/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </head>
  <body>
    <div class="layout-transparent mdl-layout mdl-js-layout">
      <header>
        <img class="logo" width="169px" height="37.5px" src="/img/logo.svg"/>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          {{{body}}}
        </div>
      </main>
    </div>
    <script src="/vendor/kbpgp-2.0.8-min.js"></script>
    <script src="/vendor/material.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
