<div class="namespace-create">
  <h3>Secure. Simple. Contact.</h3>
  <div class="screenshot">
    <img src="/img/embed-screenshot.jpg" />
  </div>
  <p>Secure communication at a personal level is one of the great technical problems of our time—one that particularly affects journalists and their sources.</p>
  <p>Right now, people simply don't know how to securely contact journalists.</p>
  <p>And for the most part, journalists don't know how to accept secure communications.</p>
  <p>With Initiate we aim to make the first point of contact easy and safe.</p>
  <p>Initiate provides an embeddable secure communication portal which allows anyone to send an encrypted message directly from the browser.</p>
  <p>The widget can be embedded in any website or news story.</p>
  <h2 id="how">How does it work?</h2>
  <div class="how-steps">
    <div>
      <div><img src="/img/how-a.svg" /></div>
      <p>Every keypress is encrypted in your message as you type.</p>
    </div>
    <div class="arrow"></div>
    <div>
      <div><img src="/img/how-b.svg" /></div>
      <p>When you hit send, the encrypted messgage is sent to the initiate server.</p>
    </div>
    <div class="arrow"></div>
    <div>
      <div><img src="/img/how-c.svg" /></div>
      <p>Then the encrypted message is emailed to your point-of-contact. We can never read your message.</p>
    </div>
    <div class="arrow"></div>
    <div>
      <div><img src="/img/how-d.svg" /></div>
      <p>Your point-of-contact uses a private key that only they have to read your message.</p>
    </div>
  </div>
  <div class="center how-buttons">
    <a href="/faq" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Ok, but I’d like to know more</a>
    <a href="#sign-up" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sure, I’ll give it a go</a>
  </div>

  <h2 id="sign-up">Sign up with initiate</h2>

  <form action="/" method="post">
    <div class="mdl-card mdl-shadow--2dp full">
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full">
          <input class="mdl-textfield__input" type="text" name="username" id="username-input" value="{{username}}">
          <label class="mdl-textfield__label" for="username-input">Keybase username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full">
          <input class="mdl-textfield__input" type="email" name="email" id="email-input" value="{{email}}" validate>
          <label class="mdl-textfield__label" for="email-input">Email address</label>
        </div>
      </div>
      <div class="mdl-card__menu">
        <a href="#whats-this">What's this?</a>
      </div>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored full">Sign me up</button>
  </form>
  {{#if err}}<input type="hidden" name="err" value="{{err}}">{{/if}}
</div>
