<h1>{{title}}</h1>
<p>Awesome job. The public key we received was:</p>
<pre>{{message}}</pre>
<p>Your embed URL is:</p>
<a href="/submit?public-key={{publicKey}}"><pre>/submit?public-key={{publicKey}}</pre></a>
