<div class="namespace-create">
  <h2>Frequently asked questions</h2>
  <ul>
    <li>
      <h3>
    </li>
    <li>
      <h3>Is this safe for me to use?</h3>
      <p>That depends.</p>
    </li>
    <li>
      <h3>Is this an end-to-end encrypted messaging service?</h3>
      <p>The short answer is yes, but that depends on exactly where you consider the 'ends' of a communication to be.</p>
      <p>When you send a message using this service it is encrypted <em>before</em> it leaves your browser and stays encrypted until some point <em>after</em> it arrives in the recipient's email inbox. Where exactly it gets unencrypted depends on how the recipient uses PGP.</p>
    </li>
    <li>
      <h3>What kind or encryption does Initiate use?</h3>
      <p>Initiate uses an implementation of PGP developed by keybase.io.</p>
  </ul>
</div>
