<h1>{{title}}</h1>
<textarea name="bare-message" placeholder="Type your message here"></textarea>
<form action="/submit" method="post">
  <input type="hidden" name="public-key" value="{{publicKey}}">
  <input type="hidden" name="message" />
  <button type="submit">Submit</button>
</form>
