html {
  background: linear-gradient(-45deg, #480048, #C04848);
  color: white; }

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white; }

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 169px; }

.page-content {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto; }
  .page-content header {
    text-align: center; }

.how-steps {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1000px) {
    .how-steps {
      flex-direction: row;
      margin: 0 -250px;
      width: 1000px; } }
  .how-steps > :nth-child(odd) {
    flex-basis: 0 0 200px;
    margin: 0 auto;
    max-width: 200px;
    text-align: center; }

.arrow {
  background-image: url(/img/arrow-vertical.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 64px; }
  @media (min-width: 1000px) {
    .arrow {
      background-image: url(/img/arrow-horiontal.svg);
      height: 13px; } }

@media (min-width: 1000px) {
  .how-buttons {
    margin: 0 -250px;
    width: 1000px; } }
