$color--primary: #C04848;
$color--accent: #530748;
$font-family: "Source Sans Pro";

html {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #480048, $color--primary);
  color: white;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 24px;

  .namespace-create & {
    margin-top: 60px;
  }
}

h3 {
  font-size: 20px;

  .namespace-create & {
    margin-top: 0;
  }
}

form {
  color: black;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 169px;
}

.page-content {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;

  header {
    text-align: center;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.full {
  width: 100%;
}

.screenshot {
  margin-bottom: 60px;
}

.how-steps {
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
    margin: 0 -250px;
    width: 1000px;
  }


  & > :nth-child(odd) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 240px;
    text-align: center;


    @media (min-width: 1000px) {
      flex: 0 0 180px;
      max-width: 180px;
    }

    & > :first-child {
      min-height: 80px;
    }
  }
}

.arrow {
  margin: 0 0 16px;
  width: 100%;
  height: 80px;
  background-image: url(/img/arrow-vertical.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 1000px) {
    margin: 24px 0 0;
    height: 20px;
    background-image: url(/img/arrow-horizontal.svg);
  }
}

.how-buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
    margin: 0 -150px;
    width: 800px;
  }

  & > * {
    margin: 10px;
  }

  & > :not(:first-child) {
    flex-grow: 1;
  }
}

.namespace-create .mdl-card {
  margin-bottom: 20px;
  min-height: auto;
}

#public-key-confirmation {
  display: none;
  padding: 10px;
  background-color: white;
  color: black;

  & > * {
    overflow-x: auto;
  }
}

#public-key-confirmation:target {
  display: block;
}

#public-key-confirmation:target + * {
  display: none;
}

.embed-code {
  padding: 10px;
  background-color: white;
  color: black;
}

.embed-demo {
  margin: 0 -20px;

  & > iframe {
    width: 360px;
    height: 800px;
    max-width: 100%;
  }
}


.submit {

  color: rgba(255,255,255,0.6);

  .intro {
    text-align: center;
  }

  header, main, footer {
    padding: 15px;
  }

  .page-content {
    padding: 0;
  }

  header {
    background: linear-gradient(90deg, rgba(72,0,72,0.6), rgba(72,0,72,0.3));
    height: auto;
  }

  .card .avatar {

    display: block;
    border-radius: 50%;
  }

  .card {
    background: rgba(79,0,72,0.5);
    margin-bottom: 10px;

    .avatar {
      margin: 10px;
      float: left;
    }
    .bio {
      margin-left: 50px;
      padding: 10px;
    }
    h2 {
      margin: 0;
      line-height: auto;
    }
    .how {
      clear: both;
      width: 100%;
      background: rgba(79,4,72,0.4);
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      p {
        height: 100%;
        line-height: 100%;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        margin: 0;
        vertical-align: middle;
        img {
          margin: 5px;
          vertical-align: middle;
        }
      }
      button {
        background-color: #C04848;
      }
    }
  }

  .input {
    background: #fff;
    padding: 15px 15px 30px 15px;
    margin-bottom: 15px;
    textarea, input {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      border: none;
      border-bottom: 2px solid rgba(0,0,0,0.2);
      margin-top: 20px;
    }
    textarea {
      min-height: 4em;
    }
  }

  form button {
    width: 100%;
    background-color: #C04848;
    color: #fff;
  }

  .warning {
    border: 2px solid rgba(255,255,255, 0.6);
    background: url("/img/!.svg") no-repeat top right;
    padding: 15px;
    margin-bottom: 15px;

    h2 {
      font-weight: bold;
      font-size: 20px;
      margin: 0 0 5px 0;
      line-height: normal;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: square;
      }
    }
  }

  h1,h2,h3 {
    color: rgba(255,255,255,1);
  }

  h1 {
    font-size: 20px;
    margin: 0;
  }

  h2 {
    font-size: 16px;
  }


}
