$color--primary: #C04848;
$color--accent: #530748;

html {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #480048, $color--primary);
  color: white;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 24px;

  .namespace-create & {
    margin-top: 60px;
  }
}

h3 {
  font-size: 20px;

  .namespace-create & {
    margin-top: 0;
  }
}

form {
  color: black;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 169px;
}

.page-content {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;

  header {
    text-align: center;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.full {
  width: 100%;
}

.screenshot {
  margin-bottom: 60px;
}

.how-steps {
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
    margin: 0 -250px;
    width: 1000px;
  }


  & > :nth-child(odd) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 240px;
    text-align: center;


    @media (min-width: 1000px) {
      flex: 0 0 180px;
      max-width: 180px;
    }

    & > :first-child {
      min-height: 80px;
    }
  }
}

.arrow {
  margin: 0 0 16px;
  width: 100%;
  height: 80px;
  background-image: url(/img/arrow-vertical.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 1000px) {
    margin: 24px 0 0;
    height: 20px;
    background-image: url(/img/arrow-horizontal.svg);
  }
}

.how-buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
    margin: 0 -150px;
    width: 800px;
  }

  & > * {
    margin: 10px;
  }

  & > :not(:first-child) {
    flex-grow: 1;
  }
}

.namespace-create .mdl-card {
  margin-bottom: 20px;
  min-height: auto;
}

#public-key-confirmation {
  display: none;
  padding: 10px;
  background-color: white;
  color: black;

  & > * {
    overflow-x: auto;
  }
}

#public-key-confirmation:target {
  display: block;
}

#public-key-confirmation:target + * {
  display: none;
}

.embed-code {
  padding: 10px;
  background-color: white;
  color: black;
}

.embed-demo {
  & > iframe {
    margin: 0 -20px;
    width: 300px;
  }
}
